<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Board Game Recommender</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</head>
<body>
    <header>
        <h1>Board Game Recommender</h1>
        <p class="subtitle">"Because finding your next favorite game shouldn't be a roll of the dice!"</p>
        </header>
<!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prediction">Game Recommender</a></li>
            <li><a href="/tableau_1">Category & Mechanic</a></li>
            <li><a href="/tableau_2">Playtime</a></li>
            <li><a href="/about_us">About Us</a></li>
        </ul>
    </nav>

    <div class="board">
        <h1 class="title">Board Game Player Profiles</h1>
        <div class="profiles">
            <div class="profile">
                <div class="profile-image">
                    <img src="../static/images/George.png" alt="George Stalker">
                </div>
                <h2>George Stalker</h2>
                <p>George Stalker enjoys bowling, camping, and spending quality time playing board and card games with his family.</p>
            </div>
            <div class="profile">
                <div class="profile-image">
                    <img src="../static/images/Katie.png" alt="Katherine Rebeck">
                </div>
                <h2>Katherine Rebeck</h2>
                <p>Katie Rebeck works in Product Management at a variable data printing company. In her spare time, she enjoys dancing to music, learning new things, exploring the outdoors, and working in the darkroom.</p>
            </div>
            <div class="profile">
                <div class="profile-image">
                    <img src="../static/images/Chris.png" alt="Chris Hicks">
                </div>
                <h2>Chris Hicks</h2>
                <p>Chris Hicks enjoys working on bicycles, playing video games, and watching movies with his family.</p>
            </div>
        </div>
    </div>

</body>
</html>
